<% if @elements %>
    <p><%= link_to element.full_name, element %> </p>
<% else %>
  <h1><%= link_to element.full_name, edit_element_path %></h1>
  <ul>
    <li>Key: <%= element.key %></li>
    <li>Tempo: <%= element.tempo %></li>
    <li>Learned: <%= element.learned? %></li>
  </ul>
<% end %>
