<h1> Elements </h1>
<div>
  <h3>Filter Elements:</h3>
  <%= form_tag("/users/#{@user.id}/elements", method: "get") do %>
    <p>Name<%= select_tag "name", options_for_select(Element.used_names), include_blank: true %></p>
    <p>Instrument <%= select_tag "instrument", options_from_collection_for_select(@instruments, "id", "name"), include_blank: true %></p>
    <p>Song <%= select_tag "song", options_from_collection_for_select(@songs, "id", "title"), include_blank: true %></p>
    <p>Key <%= select_tag "key", options_for_select(Element.used_keys), include_blank: true %></p>
    <p>Tempo<%= select_tag "tempo", options_for_select(Element.used_tempo), include_blank: true %></p>
    <p>Learned<%= select_tag "learned", options_for_select(Element._learned), include_blank: true %></p>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<%= render(@elements) %>
<%= link_to "Add a new element", new_user_element_path(current_user) %>
