<h1><%= link_to @element.full_name, edit_element_path %></h1>
<ul>
  <li>Key: <%= @element.key %></li>
  <li>Tempo: <%= @element.tempo %></li>
  <li>Learned: <%= @element.learned? %></li>
  <li>Lyrics: <%= @element.lyrics %></li>
</ul>
  <% if @element.recording.attached? %>
    <%= audio_tag(url_for(@element.recording), controls: true ) %><br />
  <% end %>
  <% if @element.sheet_music.attached? %>
    <%= image_tag(@element.sheet_music) %><br />
  <% end %>
<%= link_to "Delete Element", element_path(@element), method: :delete, data: { confirm: 'Are you certain you want to delete this element?' } %><br />
<%= link_to "Back to the song", user_song_path(@user, @song) %>
