<h1><%= link_to @user.username.titleize, edit_user_path(@user) %>'s Songbook</h1>


<%=  link_to "Add an Instrument", new_user_instrument_path(@user) %><br />
<%=  link_to "Add a Song", new_user_song_path(@user) %><br />
<%=  link_to "Add an Element", new_user_element_path(@user) %><br />
<% if @user.instruments.any? && @user.songs.any? && @user.elements.any? %>
    <p>Favorite Instrument: <%= @user.elements.favorite(:instrument).name_with_range %></p>
    <p>Favorite Song: <%= @user.elements.favorite(:song).title %></p>
    <p>Elements Learned: <%= @user.elements.learned_count %></p>
    <p>Songs Added: <%= @user.songs.song_count %> </p>
    <p>Favorite Artist: <%= @user.songs.favorite(:artist) %> </p>
    <p>Favorite Genre: <%= @user.songs.favorite(:genre) %> </p>
    <p>Favorite Album: <%= @user.songs.favorite(:album)%> </p>
    <p>Favorite Instrument Range: <%= @user.instruments.favorite(:range) %> </p>
    <p>Favorite Instrument Family: <%= @user.instruments.favorite(:family) %> </p>
    <p>Favorite Element: <%= @user.elements.favorite(:name) %> </p>
    <p>Favorite key: <%= @user.elements.favorite(:key)%> </p>
    <p>Fastest Tempo: <%= @user.elements.fastest %> </p>

<% end %>
<br />
<br/>

</br/>
<%= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: 'Are you certain you want to delete your account? You will lose all of your music!' } %><br />
