<h1><%= link_to current_user.username.titleize, edit_user_path(current_user) %>'s Songbook</h1>


<%=  link_to "Add an Instrument", new_user_instrument_path(current_user) %><br />
<%=  link_to "Add a Song", new_user_song_path(current_user) %><br />
<%=  link_to "Add an Element", new_user_element_path(current_user) %><br />
<% if Instrument.any? && Song.any? && Element.any? %>
    <p>Favorite Instrument: <%= Element.favorite_instrument %></p>
    <p>Favorite Song: <%= Element.favorite_song %></p>
    <p>Elements Learned: <%= Element.learned_count %></p>
    <p>Songs Added: <%= Song.song_count %> </p>
    <p>Favorite Artist: <%= Song.favorite_artist %> </p>
    <p>Favorite Genre: <%= Song.favorite_genre %> </p>
    <p>Favorite Album: <%= Song.favorite_album %> </p>
    <p>Favorite Instrument Range: <%= Instrument.favorite_range %> </p>
    <p>Favorite Instrument Family: <%= Instrument.favorite_family %> </p>
    <p>Favorite Element: <%= Element.favorite_name %> </p>
    <p>Favorite key: <%= Element.favorite_key %> </p>
    <p>Fastest Tempo: <%= Element.fastest %> </p>

<% end %>
<br />
<br/>

</br/>
<%= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: 'Are you certain you want to delete your account? You will lose all of your music!' } %><br />
