<div class='nested-fields'>
    <div class="field">
      <%= f.label :name %>
      <%= f.select :name, Element.names %><br>
    </div>
    <div>
      <%= f.label :instrument %>
      <%= f.select :instrument_id, @song.instruments.collect {|i| i.name }  %><br>
    </div>
    <div class="field">
      <%= f.label :learned %>
      <%= f.check_box :learned %>
    </div>
    <%= link_to_remove_association "remove element", f %>
  </div>
