<div class='nested-fields'>
    <br />
    <div class="hidden">
      <%= f.hidden_field :user_id, :value => @user.id %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.select :e_name, Element.names %><br>
    </div>
    <div>
      <%= f.label :instrument %>
      <%= f.collection_select(:instrument_id, @song.instruments, :id, :name_with_range)  %><br>
    </div>
    <div class="field">
      <%= f.label :learned %>
      <%= f.check_box :learned %>
    </div>
    <div class="field">
    <%= f.label :key %>
    <%= f.select :key, Element.keys %><br />
    </div>
    <div class="field">
    <%= f.label :tempo %>
    <%= f.text_field :tempo %><br />
    </div>
    <div class="field">
      <%= f.label :sheet_music %>
      <%= f.file_field :sheet_music %><br />
      <% if @element.sheet_music.attached? %>
        <%= f.label :delete_sheet_music %>
        <%= f.check_box :delete_sheet_music %><br />
      <% end %>
    </div>
    <div class="field">
    <%= f.label :recording %>
    <%= f.file_field :recording %><br />
    </div>
    <div class="field">
    <%= f.label :lyrics %>
    <%= f.text_field :lyrics %><br />
    </div>

    <%= link_to_remove_association "remove element", f %>
    <br />
    <br />
  </div>
