<% if @songs %>
  <p><%= link_to "#{song.title} (#{song.artist})", song%> </p>
<% else %>
  <h1><%= link_to song.title, edit_song_path %></h1>
  <ul>
    <li>Artist: <%= song.artist %></li>
    <li>Album: <%= song.album %></li>
    <li>Genre: <%= song.genre %></li>
    <li>Instruments:
      <ul><% song.instruments.each do |i| %>
        <li><%= link_to i.name, instrument_path(i)%></li>
          <%end%>
      </ul>
    <li>Lyrics: <%= song.lyrics %></li>
    <li>Elements:
      <ul><% song.elements.each do |e| %>
        <li><%= e.name %> (<%= e.instrument.name %>), (<%= e.learned? %>)   </li>
          <%end%>
      </ul>
  </ul>
<% end %>
