<% if @songs %>
    <p><%= link_to "#{song.title} (#{song.artist})", song%> </p>
<% else %>
  <h1><%= link_to song.title, edit_song_path %></h1>
  <ul>
    <li>Artist: <%= song.artist %></li>
    <li>Album: <%= song.album %></li>
    <li>Genre: <%= song.genre %></li>
    <li>Instruments:
      <ul> <% song.instruments.each do |i| %>
        <li> <%= link_to i.name, instrument_path(i)%>
          <ul> <% i.elements.each do |e| %>
                  <% if e.instrument_id == i.id %>
                    <li><%=link_to e.name, element_path(e) %></li>
                  <%end%>
               <%end%>
          </ul>
        </li>
        <%end%>
      </ul>
    </li>
    <li>Lyrics: <%= song.lyrics %></li>
  </ul>
<% end %>
