<% if @songs %>
  <p><%= link_to "#{song.title} (#{song.artist})", song%> </p>
<% else %>
  <h1><%= link_to song.title, edit_song_path %></h1>
  <ul>
    <li>Artist: <%= song.artist %></li>
    <li>Album: <%= song.album %></li>
    <li>Genre: <%= song.genre %></li>
    <li><%= song.lyrics %></li>
    <li>Instruments:
      <ul><% song.instruments.each do |i| %>
        <li><%= link_to i.name, instrument_path(i)%></li>
          <%end%>
      </ul>
  </ul>
<% end %>
