<h1> Songs </h1>
<div>
  <h3>Filter Songs:</h3>
  <%= form_tag("/users/#{@user.id}/songs", method: "get") do %>
    <p>Instrument <%= select_tag "instruments", options_from_collection_for_select(@instruments, "id", "name"), include_blank: true %></p>
    <p>Artist <%= select_tag "artist", options_for_select(Song.used_artists), include_blank: true %></p>
    <p>Genre <%= select_tag "genre", options_for_select(Song.used_genres), include_blank: true %></p>
    <p>Album<%= select_tag "album", options_for_select(Song.used_albums), include_blank: true %></p>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<%= render(@songs) %>
<%= link_to "Add a New Song", new_user_song_path(@user) %><br />
