<% if @instruments %>
  <p><%= link_to instrument.name_with_range, user_instrument_path(@user, instrument)%> </p>
<% else %>
  <h1><%= link_to instrument.name, edit_user_instrument_path(instrument) %></h1>
  <ul>
    <li>Family: <%= instrument.family %></li>
    <li>Range: <%= instrument.range %></li>
    <li>Songs you know on this instrument:
      <ul><% instrument.songs.each do |s| %>
        <li><%= link_to s.title, song_path(s)%>
              <ul> <% s.elements.each do |e| %>
                      <% if e.instrument_id == instrument.id %>
                        <li><%= link_to e.name, element_path(e) %></li>
                      <%end%>
                   <%end%>
              </ul>
        </li>
            <%end%>
       </ul>
    </li>
 </ul>
<% end %>
