<% if @instruments %>
  <p><%= link_to instrument.type_with_range, instrument%> </p>
<% else %>
  <h1><%= link_to instrument.type, edit_instrument_path %></h1>
  <ul>
    <li>Family: <%= instrument.family %></li>
    <li>Range: <%= instrument.range %></li>
    <li>Songs you know on this instrument:
      <ul><% instrument.songs.each do |s| %>
        <li><%= link_to s.title, song_path(s)%></li>
          <%end%>
      </ul>
    <li>Elements you can play on this instrument:
      <ul><% instrument.elements.each do |e| %>
        <li><%=e.name%>, <%=e.song.title%>, <%=e.learned?%></li>
          <%end%>
      </ul>
  </ul>
<% end %>
