<h1> Instruments </h1>
<% if Instrument.any? %>
  <div>
    <h3>Filter Instruments:</h3>
    <%= form_tag("/users/#{@user.id}/instruments", method: "get") do %>
      Family <%= select_tag "family", options_for_select(Instrument.used(:family)), include_blank: true %>
      Range<%= select_tag "range", options_for_select(Instrument.used(:range)), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
    </div>
<% end %>
  <br />
<% @instruments.each do |instrument| %>
  <%= link_to instrument.name_with_range, user_instrument_path(@user, instrument)%> <br />
   <br />
<% end %>
<%= link_to "Add a new instrument", new_user_instrument_path(@user) %><br />
