<!DOCTYPE html>
<head>
  <title>Songbook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag 'application' %>
  <script id='user-Id'>
    let userId = <%= current_user.id if current_user%>
  </script>

</head>

<body>

  <%= yield %>

</body>
</html>