<!DOCTYPE html>
<head>
  <title>Songbook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
  </style>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "application" %>
  <script id='user-Id'>
    let userId = <%= current_user.id if current_user%>
  </script>

</head>

<body>

  <%= yield %>

</body>
</html>