<!DOCTYPE html>
<html>
  <head>
    <title>Songbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %><br />
    <br />
    <br />
    <% if session[:user_id] %>
      <% unless current_page?(@user) %>
        <%= link_to "Your Profile", user_path(@user) %><br />
      <% end %>
      <% unless current_page?(controller: 'instruments', action: 'index') %>
        <%= link_to "See your instruments", user_instruments_path(@user) %><br />
      <% end %>
      <% unless current_page?(controller: 'songs', action: 'index') %>
        <%= link_to "See your Songs", user_songs_path(@user) %><br />
      <% end %>
      <% unless current_page?(controller: 'elements', action: 'index') %>
        <%= link_to "See your Elements", user_elements_path(@user) %><br />
      <% end %>
      <br />
      <%= link_to "Log Out", logout_path, :method => :post %>
    <% end %>
  </body>
</html>
