<!DOCTYPE html>
  <head>
    <title>Songbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %><br />
    <br />
    <br />
    <% if session[:user_id] && current_user %>
      <% unless current_page?(user_instruments_path(current_user)) %>
        <%= link_to "See your Instruments", user_instruments_path(current_user) %><br />
      <% end %>
      <% unless current_page?(user_songs_path(current_user)) %>
        <%= link_to "See your Songs", user_songs_path(current_user) %><br />
      <% end %>
      <% unless current_page?(user_elements_path(current_user)) %>
        <%= link_to "See your Elements", user_elements_path(current_user) %><br />
      <% end %>
      <% unless current_page?(current_user) %>
        <%= link_to "Your Profile", user_path(current_user) %><br />
      <% end %>
      <br />
      <%= link_to "Log Out", logout_path, :method => :get %>

    <% end %>
  </body>
</html>
