<!DOCTYPE html>
<head>
  <title>Songbook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <script id='user-Id'>
    let userId = <%= current_user.id if current_user%>
  </script>

</head>

<body>
  <%= yield %>

  <br/>
  <br/>
  <br/>
  <% if @user && session[:user_id] = @user.id %>
    <nav>
      <button id='instruments-data'>
        See your Instruments
      </button>
      <div id='ajax-instruments'></div>
      <button id='songs-data'>
        See your Songs
      </button>
      <div id='ajax-songs'></div>
      <button id='elements-data'>
        See your Elements</button>
      <div id='ajax-elements'></div>
    </nav>
    <%= link_to "Log Out", logout_path, :method => :get %>

  <% end %>
</body>
</html>